<!-- About Section -->
    <section id="about", class = "bg-light-gray">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Promotional Video</h2>
                <div class="row text-center">
                  <div class="col-md-12">
                    <div class="video-container">
                      <iframe width="100%" height="100%" src="https://drive.google.com/file/d/1Oo_7h7EsBdREJXKmKJ1kWizG3QryAzAi/preview" allow="autoplay" autoplay></iframe>
                    </div>
                  </div>
                </div>
            </div>
        </div>

        <div class="row">
          <div class="col-lg-12 text-center">
              <h2 class="section-heading">Final Demo Videos</h2>
              <h3 class="section-subheading text-muted">Combination of all FlightEye videos we have recorded. Many videos are from earlier stages of developement and do not reflect the final version.</h3>
              <div class="row text-center">
                <div class="col-md-12">
                  <div class="video-container">
                    <iframe width="100%" height="100%" src="https://drive.google.com/file/d/1bzEIXL0f_syDmv9LhYMjKFZ2uQU049nc/preview" allow="autoplay" autoplay></iframe>
                  </div>
                </div>
              </div>
          </div>
      </div>

      <br>

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">about</h2>
                    <h3 class="section-subheading text-muted">FlightEye combines state-of-the-art extended-reality (XR) technology with a user-focused interface that creates a flying experience like no other.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-wifi fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">ADS-B Data</h4>
                    <p class="text-muted">FlightEye relies purely on ADS-B data, which means no need for an external internet connection and easy integration into any aircraft.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">UI Placement</h4>
                    <p class="text-muted">FlightEye will decide where planes are around you, and place them accordingly, which means more time focusing on what matters most.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-code fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Predictive Algorithm</h4>
                    <p class="text-muted">FlightEye will analyze previous aircraft behavior to give you an accurate prediction of where they will go next, keeping you ahead of the game.</p>
                </div>
            </div>

            <div class="text-center">
                <div class="col-lg-12 text-center">
                    <h3 class="section-heading">Predictive algorithm</h3>
                    <h3 class="section-subheading text-muted" style = "margin-bottom: 5px;">Using an Extended Kalman Filter based algorithm, FlightEye can interpolate between ADS-B tranmissions to create a smoother user experience.</h3>
                </div>
                
                <label class="switch">
                  <input type="checkbox" id="videoSwitch">
                  <span class="slider round">
                    <span class="switch-label" id="switchLabel"></span>
                  </span>
                </label>

                <div class="row text-center">
                  <div class="col-md-12">
                    <div id="videoContainer" class="video-container"></div>
                  </div>
                </div>
              
              <script>
                const videoSwitch = document.getElementById('videoSwitch');
                const videoContainer = document.getElementById('videoContainer');
                const switchLabel = document.getElementById('switchLabel');
                
                videoSwitch.addEventListener('change', function() {
                    if (this.checked) {
                        videoContainer.innerHTML = '<iframe width="100%" height="100%" src="https://drive.google.com/file/d/1caS3laNZNahKKR7_lQmFB5UJka4vTjXB/preview" allow="autoplay" autoplay></iframe>';
                        switchLabel.innerText = "On";
                    }
                    else {
                        videoContainer.innerHTML = '<iframe width= "100%" height="100%" src="https://drive.google.com/file/d/1AGultylQBIk2TKdeDE0c2iZxiVfaEn6v/preview" allow="autoplay" allowfullscreen autoplay></iframe>';
                        switchLabel.innerText = "Off";
                    }
                });

                videoSwitch.dispatchEvent(new Event('change'));
              </script>

              
            </div>

            <br/>

            <div class="text-center">
                <div class="col-lg-12 text-center">
                  <h3 class="section-heading">All Weather Performance</h3>
                  <h3 class="section-subheading text-muted" style="margin-bottom: 5px;">FlightEye is dependent on radio transmissions, which means FlightEye works the same in a wide variety of weather conditions. Complex conditions, such as heavy fog, allow FlightEye to help pilots see where they cannot with the naked eye.</h3>
                </div>
              
                <label class="switch">
                    <input type="checkbox" id="videoSwitch2">
                    <span class="slider round">
                      <span class="switch-label" id="switchLabel2"></span>
                    </span>
                  </label>
              
                <div class="row text-center">
                  <div class="col-md-12">
                    <div id="videoContainer2" class="video-container"></div>
                  </div>
                </div>
              
                <script>
                  const videoSwitch2 = document.getElementById('videoSwitch2');
                  const videoContainer2 = document.getElementById('videoContainer2');
                  const switchLabel2 = document.getElementById('switchLabel2');
              
                  videoSwitch2.addEventListener('change', function() {
                    if (this.checked) {
                      videoContainer2.innerHTML = '<iframe width="100%" height="100%" src="https://drive.google.com/file/d/1N5vVh9sNfwvQTqx29ck_tMnhusgaHiUy/preview" allow="autoplay" allowfullscreen autoplay></iframe>';
                      switchLabel2.innerText = "Night";
                    } else {
                      videoContainer2.innerHTML = '<iframe width="100%" height="100%" src="https://drive.google.com/file/d/1kgYF2JfxniMcRFEVBR81slPFprziNtg_/preview" allow="autoplay" allowfullscreen autoplay></iframe>';
                      switchLabel2.innerText = "Day";
                    }
                  });
              
                  videoSwitch2.dispatchEvent(new Event('change'));
                </script>
              </div>
        </div>
    </section>