<section id="tech">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Tools and Technology</h2>
                <h3 class="section-subheading text-muted">FlightEye covers a wide array of the technology stack, ranging from low-level hexidemical decoding, to high-level gaming engines.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
              <div class="flip-box">
                <div class="flip-box-inner">
                  <div class="flip-box-front">
                    <div class="box">
                      <h2>Unity</h2>
                    </div>
                  </div>
                  <div class="flip-box-back">
                    <div class="box">
                      <p>Unity is the primary development enviornment for deploying software on the Microsoft HoloLens. The platform allows us to generate renderings that correlate directly with our
                        geospatial orientation.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="flip-box">
                <div class="flip-box-inner">
                  <div class="flip-box-front">
                    <div class="box">
                      <h2>Hardware and Accessories</h2>
                    </div>
                  </div>
                  <div class="flip-box-back">
                    <div class="box">
                      <p>FlightEye makes use of two seperate components: our custom ADS-B enclosure (code named ADS-Box) and the Microsoft HoloLens 2. The ADS-B enclosure is comprised
                        of a 1090MHz antenna, GPS dongle, and a Raspberry Pi. The enclosure gathers all relevant data for nearby aircraft and user position and sends it wirelessly to the HoloLens 2 via a WiFi network hosted
                        on the Raspberry Pi.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="flip-box">
                <div class="flip-box-inner">
                  <div class="flip-box-front">
                    <div class="box">
                      <h2>Microsoft MRKT</h2>
                    </div>
                  </div>
                  <div class="flip-box-back">
                    <div class="box">
                      <p>MRKT provides us with the ability to interact with tracking and sensing within the Microsoft HoloLens. In our project, MRTK allows us to generate hand menus, utilize eye tracking,
                        and build our project for deployment.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="flip-box">
                <div class="flip-box-inner">
                  <div class="flip-box-front">
                    <div class="box">
                      <h2>dump1090</h2>
                    </div>
                  </div>
                  <div class="flip-box-back">
                    <div class="box">
                      <p>In order to receive and decode ADS-B transmissions, FlightEye uses an industry standard, open-source, program called dump1090. This program runs on the Raspberry Pi and configures the gain of the
                        1090MHz antenna, and decodes the incoming ADS-B packets. dump1090 then outputs the decoded packets into a simple JSON file, which is sent to the HoloLens 2 so it can be displayed. </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
</section>