<!-- Timeline Section -->
    <section id="timeline">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Workflow</h2>
                    <h3 class="section-subheading text-muted">FlightEye integrates the Raspberry Pi IV and Microsoft HoloLens2 to create an easy-to-use and robust system</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/flighteyeUI.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Acquiring ADS-B</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">ADS-B data is the backbone of FlightEye, as it allows us to be aware of aircraft around us. On average, every second aircraft broadcast ADS-B data, 
                                        showing their position, speed, altitude, etc. Using the Raspberry Pi, we gather this data and convert it to JSON.
                                    </p>
                                    <p class="text-hidden" style="display: none;">To do this, we attach a 1090MHz antenna and GPS receiver to our Rapsberry Pi. We run a specialized program on the Raspberry Pi called dump1090 
                                        which performs the hexidemical decoding of incoming ADS-B packets. Upon decoding, each ADS-B transmission is converted to JSON format.
                                    </p>
                                    <button class="btn btn-primary btn-more" id="adsb-more-btn">Show More</button>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Network Connection</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">After generating ADS-B data in JSON format, FlightEye uses a private WiFi connection to send JSON data from the Raspberry Pi to the HoloLens 2. As long as
                                        the Raspberry Pi is powered on and the HoloLens 2 is connected to the Pi's network, data transmission will begin.
                                    </p>
                                    <p class="text-hidden" style="display: none;">The Raspberry Pi serves as a personal WiFi hotspot that the HoloLens 2 must connect to. As long as the HoloLens 2 is connected to the WiFi and
                                        the FlightEye app has been opened, the Raspberry Pi will start sending network traffic to the HoloLens 2. On the HoloLens, this data is parsed and converted into C# objects.
                                    </p>
                                    <button class="btn btn-primary btn-more" id="flight-more-btn">Show More</button>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/hololens2.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Predictive Algorithm</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">FlightEye will demonstrate the ability to receive real-world ADS-B data and accurately display it to the pilot wearing the Microsoft HoloLens 2.

                                    </p>
                                    <p class="text-hidden" style="display: none;">The Raspberry Pi serves as a personal WiFi hotspot that the HoloLens 2 must connect to. As long as the HoloLens 2 is connected to the WiFi and
                                        the FlightEye app has been opened, the Raspberry Pi will start sending network traffic to the HoloLens 2. On the HoloLens, this data is parsed and converted into C# objects.
                                    </p>
                                    <button class="btn btn-primary btn-more" id="flight-more-btn">Show More</button>

                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">UI Placement</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">FlightEye will demonstrate the ability to receive real-world ADS-B data and accurately display it to the pilot wearing the Microsoft HoloLens 2.

                                    </p>
                                    <p class="text-hidden" style="display: none;">The Raspberry Pi serves as a personal WiFi hotspot that the HoloLens 2 must connect to. As long as the HoloLens 2 is connected to the WiFi and
                                        the FlightEye app has been opened, the Raspberry Pi will start sending network traffic to the HoloLens 2. On the HoloLens, this data is parsed and converted into C# objects.
                                    </p>
                                    <button class="btn btn-primary btn-more" id="flight-more-btn">Show More</button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


    <script>
        const btnMore = document.querySelectorAll('.btn-more');
        const hiddenText = document.querySelectorAll('.text-hidden');

        for (let i = 0; i < btnMore.length; i++) {
        let isExpanded = false;

        btnMore[i].addEventListener('click', function() {
            if (!isExpanded) {
            hiddenText[i].style.display = 'block';
            btnMore[i].innerText = 'Show Less';
            isExpanded = true;
            } else {
            hiddenText[i].style.display = 'none';
            btnMore[i].innerText = 'Show More';
            isExpanded = false;
            }
        });
        }
    </script>
    </section>