<section id="ui", class = "bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">UI Design</h2>
                <h3 class="section-subheading text-muted">A UI designed by pilots, for pilots.</h3>
            </div>
        </div>
        
        <div class="video-container">
            <iframe width="100%" height="100%" src="https://drive.google.com/file/d/1Vo_MF-b_-xaLMHL1FTtTTXPMXnmpFnFd/preview" allow="autoplay" autoplay></iframe>
        </div>
        <br>
        <div class="row text-center">
            <div class="col-md-4">
                <div class="rounded-box">
                    <h4 class="service-heading">Aircraft Icon</h4>
                    <p class="text-muted">Using the relative orientation to the pilot, FlightEye can show which direction the aircraft is heading by moving the aircraft icon.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="rounded-box">
                    <h4 class="service-heading">Dynamic Sizing</h4>
                    <p class="text-muted">Depending on how far away the aircraft is, the UI will increase or decrease its size to bring attention to closer aircraft.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="rounded-box">
                    <h4 class="service-heading">Aircraft Information</h4>
                    <p class="text-muted">Airspeed, relative elevation difference, heading, distance, and tail number are all prominently shown for each aircraft.</p>
                </div>
            </div>
        </div>

        <div class="text-center">
            <div class="col-lg-12 text-center">
              <h3 class="section-heading">FlightEye Menu</h3>
              <h3 class="section-subheading text-muted" style="margin-bottom: 5px;">At the tip of your finger, each pilot has immediate control of all FlightEye systems.</h3>
            </div>

            <div class="row text-center">
                <div class="col-md-12">
                  <div class="video-container">
                    <iframe width="100%" height="100%" src="https://drive.google.com/file/d/1-_2v-SnkptpKCUh_BXY7b5VAk9WsyBPd/preview" allow="autoplay" autoplay></iframe>
                  </div>
                </div>
              </div>
        </div>
        <br>
        <div class="row text-center">
            <div class="col-md-4">
                <div class="rounded-box">
                    <h4 class="service-heading">Hand Controls</h4>
                    <p class="text-muted">By a simple extension of the left arm, the FlightEye Menu will appear. No need for physical buttons or complex menus, everything is avaliable at once.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="rounded-box">
                    <h4 class="service-heading">Compass Calibration</h4>
                    <p class="text-muted">In order to calibrate the FlightEye systems, users must enter their heading at startup. After pressing the calibrate button, users are directed to enter their heading.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="rounded-box">
                    <h4 class="service-heading">Buttons and Sliders</h4>
                    <p class="text-muted">Using the buttons and sliders, users can control the filter range, UI brightness, toggle UI, toggle the predictive algorithm, reconnect to the Pi, or ping the Pi.</p>
                </div>
            </div>

        </div>

    </div>
</section>